<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Olvide mi contraseña - MediGestión</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon logo.png') }}">
    </head>

    
    <body>
        <!--Barra de navegación -->
        <div>
            <nav>
                <a href="{{url_for('index')}}"><img src="{{url_for('static',filename='img/medigestion logo_sf.png')}}" alt="Logo de MediGestión" title="Logo de MediGestión" id="img_1"></a>
                <ul>
                    <li><a href="{{url_for('index')}}">Inicio</a></li>
                    <li><a href="{{url_for('ingresar')}}">Ingresar</a></li>
                    <li><a href="{{url_for('registrarse')}}">Registrarse</a></li>
                </ul>
            </nav>
        </div>


        <div class="fg">
            <h1 id="fg">Indica el correo con el que estaba asociado tu cuenta</h1>


            <!-- Paso 1: enviar correo -->
            <form class="step-form">
                <label for="email">Correo Asociado</label>
                <input type="email" id="email" placeholder="Correo" required name="email">
                <button type="submit">Enviar Código</button>
            </form>


            <!-- Paso 2: verificar código -->
            <form class="step-form">
                <label for="code">Código recibido</label>
                <input type="text" id="code" placeholder="Código" required name="code">
                <button type="submit">Verificar Código</button>
            </form>

            <!-- Paso 3: nueva contraseña -->
            <form class="step-form">
                <label for="new-password">Nueva Contraseña</label>
                <input type="password" id="new-password" placeholder="Nueva Contraseña" required name="password">
                <label for="confirm-password">Confirmar Nueva Contraseña</label>
                <input type="password" id="confirm-password" placeholder="Confirmar Contraseña" required>
                <button type="submit">Restablecer Contraseña</button>
            </form>
        </div> 
    </body> 


    <!--Pie de pagina-->
    <footer>
        <p>© 2024 MediGestión. Todos los derechos reservados.</p>  
        <p>Juan Camilo Bernal Baquero</p>
    </footer>
</html>