<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <title>Paciente - MediGestión</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon logo.png') }}">
    </head>

    
    <body>
        <!--Barra de navegación -->
        <div>
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}">Inicio</a></li>
                    <li><a href="{{url_for('ingresar')}}">Ingresar</a></li>
                    <li><a href="{{url_for('registrarse')}}">Registrarse</a></li>
                </ul>
            </nav>
        </div>


        <!--Menu de Usuario-->
        <header>
            <div class="logo-usuario">
                <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='img/medigestion logo_sf.png') }}" alt="Logo de MediGestión"></a>
                <div class="usuario-menu">
                    <span>Usuario: {{session['usuario']['nombre']}} {{session['usuario']['apellido']}}</span>
                    <select onchange="location = this.value;">
                        <option value="">Opciones</option>
                        <option value="/editar_datos/paciente/{{session['usuario']['id']}}">Editar mis datos</option>
                        <option value="/atencion_cliente">Atencion al Cliente</option>
                        <option value="{{ url_for('logout') }}">Cerrar sesión</option>
                    </select>
                </div>
            </div>
        </header>


        <!--Flash-->
                {% with messages = get_flashed_messages(category_filter=['editar_datos']) %}
                    {% if messages %}
                        <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}


        <!--Horarios Médicos-->
        <section class="horario-medicos">
            <h2>Horario Médicos</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Hora ingreso</th>
                            <th>Hora salida</th>
                            <th>Horario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in horarios %}
                        <tr>
                            <td>{{ h['nombre'] }} {{ h['apellido'] }}</td>
                            <td>{{ h['hora_ingreso'] }} {{ h['hora_ingreso_tp'] }}</td>
                            <td>{{ h['hora_salida'] }} {{ h['hora_salida_tp'] }}</td>
                            <td>{{ h['horario'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </section>


        <!--Sección Gestion Citas-->
        <section class="reportes-citas">
            <h2>Gestionar Citas</h2>
            <form method="POST" action="{{ url_for('paciente', id=session['usuario']['id']) }}">
                <label for="codigo_cita">Código de la Cita</label>
                <input type="text" id="codigo_cita" name="codigo_cita">
                <p>Recuerde que no necesita un Código de cita para crear una Cita. <br>Esta solo la usará para buscar una ya creada</p><br>

                <label for="fecha">Fecha de la Cita</label>
                <input type="date" id="fecha" name="fecha" min="{{hoy}}">

                <label for="hora">Hora de la Cita</label>
                <input type="time" id="hora" name="hora">

                <label for="motivo_cita">Motivo de la Cita</label>
                <input type="text" id="motivo_cita" name="motivo_cita">

                <!--Flash-->
                {% with messages = get_flashed_messages(category_filter=['cita']) %}
                    {% if messages %}
                        <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="botones-citas">
                    <button type="submit" name="accion" value="buscar">Buscar</button>
                    <button type="submit" name="accion" value="crear">Crear</button>
                </div>
            </form>
        </section>


        <!--Sección Detalles de la Cita-->
        <section class="detalles-cita">
            <h2>Detalles de su Cita</h2>
            <table>
                <thead>
                    <tr>
                        <th>Estado</th>
                        <th>Fecha y Hora<br>(yy/mm/dd)</th>
                        <th>Consultorio</th>
                        <th>Motivo</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {%if cita_datos%}
                    <tr>
                        <td>{{cita_datos['estado']}}</td>
                        <td>Fecha: {{cita_datos['fecha']}}<br> Hora: {{cita_datos['hora']}}</td>
                        <td>{{cita_datos['consultorio']}}</td>
                        <td>{{cita_datos['motivo']}}</td>
                        <td><a class="editar_1" href="{{ url_for('editar_cita_paciente', id=cita_datos['id']) }}">Editar</a></td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </section>
    </body>


    <!--Pie de página-->
    <footer>
        <p>&copy; 2024 MediGestión. Todos los derechos reservados.</p>
        <p>Juan Camilo Bernal</p>
    </footer>
</html>
