<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <title>Gestionar Cita - MediGestión</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon logo.png') }}">
    </head>

    
    <body>
        <!--Barra de navegación -->
        <div>
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}">Inicio</a></li>
                    <li><a href="{{url_for('ingresar')}}">Ingresar</a></li>
                    <li><a href="{{url_for('registrarse')}}">Registrarse</a></li>
                </ul>
            </nav>
        </div>


        <!--Menu de Usuario-->
        <header>
            <div class="logo-usuario">
                <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='img/medigestion logo_sf.png') }}" alt="Logo de MediGestión"></a>
                <div class="usuario-menu">
                    <span>Usuario: {{session['usuario']['nombre']}} {{session['usuario']['apellido']}}</span>
                    <select onchange="location = this.value;">
                        <option value="">Opciones</option>
                        <option value="/editar_datos/admin/{{session['usuario']['id']}}">Editar mis datos</option>
                        <option value="/atencion_cliente">Atencion al Cliente</option>
                        <option value="{{ url_for('logout') }}">Cerrar sesión</option>
                    </select>
                </div>
            </div>
        </header>



        <!--Editar Cita Médica-->
        <section class="reportes-citas">
            <h2>Editar Cita Médica</h2>
            <form method="POST" action="{{ url_for('gestionar_cita', id=datos_cita['id']) }}">
                <h3>Codigo de la Cita:  {{datos_cita['id']}}</h3><br>

                <label>Editar Paciente:</label>
                <select name="paciente_seleccionado">
                    {% for p in pacientes %}
                        <option value="{{ p['id'] }}" {% if p['id'] == datos_cita['paciente_id'] %} selected {% endif %}>
                            {{ p['nombre'] }} {{ p['apellido'] }} ID: {{p['id']}}
                        </option>
                    {% endfor %}
                </select>

                <label>Editar Medico:</label>
                <select name="medico_seleccionado">
                    {% for m in medicos %}
                        <option value="{{ m['id'] }}" {% if m['id'] == datos_cita['medico_id'] %} selected {% endif %}>
                            {{ m['nombre'] }} {{ m['apellido'] }} ID: {{m['id']}}
                        </option>
                    {% endfor %}
                </select>

                <label>Editar Consultorio:</label>
                <select name="consultorio_seleccionado">
                    {% for c in consultorios %}
                        <option value="{{ c['id'] }}" {% if c['id'] == datos_cita['consultorio_id'] %} selected {% endif %}>
                            Nombre del Consultorio: {{ c['nombre'] }} ID: {{c['id']}}
                        </option>
                    {% endfor %}
                </select>

                <label for="fecha">Fecha de la Cita</label>
                <input type="date" id="fecha" name="fecha" min="{{hoy}}" required value="{{datos_cita['fecha']}}">

                <label for="hora">Hora de la Cita</label>
                <input type="time" id="hora" name="hora" required value="{{datos_cita['hora']}}">

                <label for="motivo">Motivo de la Cita</label>
                <input type="text" id="motivo" name="motivo" required value="{{datos_cita['motivo']}}">

                <label for="observaciones">Observaciones de la Cita</label>
                <input type="text" id="observaciones" name="observaciones" max="200" required value="{{datos_cita['observaciones']}}">

                <div class="botones-citas">
                    <button type="submit" name="accion" value="editar">Editar</button>
                    <button type="submit" name="accion" value="eliminar">Eliminar Cita</button>
                </div>
            </form>
        </section>
    </body>


        <!--Pie de página-->
    <footer>
        <p>&copy; 2024 MediGestión. Todos los derechos reservados.</p>
        <p>Juan Camilo Bernal</p>
    </footer>
</html>
