<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <title>Admin - MediGestión</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_estilo.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon logo.png') }}">
    </head>

    
    <body>
        <!--Barra de navegación -->
        <div>
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}">Inicio</a></li>
                    <li><a href="{{url_for('ingresar')}}">Ingresar</a></li>
                    <li><a href="{{url_for('registrarse')}}">Registrarse</a></li>
                </ul>
            </nav>
        </div>


        <!--Menu de Usuario-->
        <header>
            <div class="logo-usuario">
                <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='img/medigestion logo_sf.png') }}" alt="Logo de MediGestión"></a>
                <div class="usuario-menu">
                    <span>Usuario: {{session['usuario']['nombre']}} {{session['usuario']['apellido']}}</span>
                    <select onchange="location = this.value;">
                        <option value="">Opciones</option>
                        <option value="/editar_datos/admin/{{session['usuario']['id']}}">Editar mis datos</option>
                        <option value="/atencion_cliente">Atencion al Cliente</option>
                        <option value="{{ url_for('logout') }}">Cerrar sesión</option>
                    </select>
                </div>
            </div>
        </header>


        <!--Flash-->
            {% with messages = get_flashed_messages(category_filter=['editar_datos']) %}
                {% if messages %}
                    <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}


        <!--Gestión de Usuarios-->
        <section>
            <div class="gestion-usuarios">
                <h2>Gestión de Usuarios</h2><br>
                <h3>Pacientes</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Correo</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in pacientes%}
                        <tr>
                            <td>{{i['nombre']}} {{i['apellido']}}</td>
                            <td>Paciente</td>
                            <td>{{i['email']}}</td>
                            <td><button><a href="{{url_for('gestion_usuarios_paciente',id=i['id'])}}">Gestionar</a></button></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

                <!--Paginacion-->
                <div class="paginacion">
                {% if pagina > 1 %}
                    <a href="{{ url_for('admin', id=session['usuario']['id'], pagina=pagina-1) }}">
                        ◀ Anterior
                    </a>
                {% endif %}
                <span>Página {{ pagina }}</span>
                {% if hay_mas %}
                    <a href="{{ url_for('admin', id=session['usuario']['id'], pagina=pagina+1) }}">
                        Siguiente ▶
                    </a>
                {% endif %}

                

                <br><h3>Medicos</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Correo</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for i in medicos%}
                        <tr>
                            <td>{{i['nombre']}} {{i['apellido']}}</td>
                            <td>Medico</td>
                            <td>{{i['email']}}</td>
                            <td><button><a href="{{url_for('gestion_usuarios_medico',id=i['id'])}}">Gestionar</a></button></td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>

                <!--Paginacion-->
                <div class="paginacion">
                {% if pagina_medicos > 1 %}
                    <a href="{{ url_for('admin', id=session['usuario']['id'], pagina_medicos=pagina_medicos-1) }}">
                        ◀ Anterior
                    </a>
                {% endif %}
                <span>Página {{ pagina_medicos }}</span>
                {% if hay_mas_medicos %}
                    <a href="{{ url_for('admin', id=session['usuario']['id'], pagina_medicos=pagina_medicos+1) }}">
                        Siguiente ▶
                    </a>
                {% endif %}<br>
            </div>
            <!--Flashes-->
            {% with messages = get_flashed_messages(category_filter=['usuario']) %}
                {% if messages %}
                    <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </section>


    <!--Horarios Médicos-->
    <section class="horario-medicos">
        <h2>Horario Médicos</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Hora ingreso</th>
                    <th>Hora salida</th>
                    <th>Horario</th>
                </tr>
            </thead>
            <tbody>
                {% for h in horarios %}
                <tr>
                    <td>{{ h['nombre'] }} {{ h['apellido'] }}</td>
                    <td>{{ h['hora_ingreso'] }} {{ h['hora_ingreso_tp'] }}</td>
                    <td>{{ h['hora_salida'] }} {{ h['hora_salida_tp'] }}</td>
                    <td>{{ h['horario'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>


        <!--Gestionar Citas-->
        <section>
            <h2>Gestionar Citas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre Paciente</th>
                        <th>Estado</th>
                        <th id="th-h">Hora</th>
                        <th>Consultorio</th>
                        <th>Fecha<br>(YY/MM/DD)</th>
                        <th>Medico a cargo</th>
                        <th>Motivo de la Cita</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in citas%}
                    {%if i['estado'] != 'Completada'%}
                    <tr>
                        <td>{{i['paciente_nombre']}} {{i['paciente_apellido']}}</td>
                        <td>{{i['estado']}}</td>
                        <td>{{i['hora']}}</td>
                        <td>{{i['consultorio']}}</td>
                        <td>{{i['fecha']}}</td>
                        <td>{{i['medico_nombre']}} {{i['medico_apellido']}}</td>
                        <td>{{i['motivo']}}</td>
                        <td><button><a href="{{url_for('gestionar_cita',id=i['id'])}}">Configurar</a></button></td>
                    {%endif%}
                    {%endfor%}
                    </tr>
            </table>
            <!--Paginacion-->
                <div class="paginacion">
                {% if paginacita > 1 %}
                    <a href="{{ url_for('admin', id=session['usuario']['id'], paginacita=paginacita-1) }}">
                        ◀ Anterior
                    </a>
                {% endif %}
                <span>Página {{ paginacita }}</span>
                {% if hay_mas_citas %}
                    <a href="{{ url_for('admin', id=session['usuario']['id'], paginacita=paginacita+1) }}">
                        Siguiente ▶
                    </a>
                {% endif %}
        </section>


        <!--Gestionar Sistema-->
        <section>
            <h2>Gestión del Sistema</h2>
            <form action="{{url_for('admin', id=session['usuario']['id'])}}" method="POST">
                <label for="max_usuarios">Número máximo de usuarios:</label>
                <input type="number" id="max_usuarios" name="max_usuarios" min="1" max="1000" value="{{config['max_usuarios']}}">

                <label for="max_citas_diarias">Número máximo de citas diarias:</label>
                <input type="number" id="max_citas_diarias" name="max_citas_diarias" min="1" max="500" value="{{config['max_citas_diarias']}}">

                <label for="notificaciones">Notificaciones por correo:</label>
                <select name="notificaciones" id="notificaciones" class="form-select">
                    <option value="1" {% if config.notificaciones == 1 %}selected{% endif %}>Sí</option>
                    <option value="0" {% if config.notificaciones == 0 %}selected{% endif %}>No</option>
                </select>


                <div class="botones-gestion">
                    <button type="submit">Guardar Cambios</button>
                    <button type="reset">Restablecer Valores</button>
                </div>
            </form>
            <!--Flashes-->
            {% with messages = get_flashed_messages(category_filter=['sistema']) %}
                {% if messages %}
                    <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </section>
    </body>

    
    <!--Pie de página-->
    <footer>
        <p>© 2024 MediGestión. Todos los derechos reservados.</p>  
        <p>Juan Camilo Bernal Baquero</p>
    </footer>
</html>